<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>Admin blogs</title>
</head>
<body>

<!-- 導航列 -->
<nav th:replace="admin/_fragments :: menu(1)"
     class="ui inverted attached segment jet-padded-tb-mini jet-shadow-small"></nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">發佈</a>
            <a href="#" class="active item teal">列表</a>
        </div>
    </div>
</div>

<!-- 內容 -->
<div class="jet-container-small jet-padded-tb-big">
    <div class="ui container">
        <div class="ui secondary segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="inline field">
                    <input type="text" name="title" placeholder="標題">
                </div>
                <div class="inline field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="categoryId">
                        <i class="dropdown icon"></i>
                        <div class="default text">分類</div>
                        <div class="menu">
                            <div th:each="category : ${categoryList}" class="item" data-value="1"
                                 th:data-value="${category.id}" th:text="${category.name}">測試
                            </div>
                            <!--/*-->
                            <div class="item" data-value="2">Log</div>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推薦</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui teal basic button mini">
                        <i class="search icon"></i>
                        搜尋
                    </button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="blogList" class="ui celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>標題</th>
                    <th>類型</th>
                    <th>推薦</th>
                    <th>更新時間</th>
                    <th>執行</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">練習清單</td>
                    <td th:text="${blog.category.name}">探討</td>
                    <td th:text="${blog.recommend} ? '是' : '否'">推</td>
                    <td th:text="${blog.updateTime}">2021-08-15 13:28</td>
                    <td>
                        <a th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">編輯</a>
                        <a th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">刪除</a>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1)" class="item"
                               th:unless="${page.first}">上一頁</a>
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1)" class="item"
                               th:unless="${page.last}">下一頁</a>
                        </div>
                        <a th:href="@{/admin/blogs/add}" class="ui teal right floated mini basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">操作成功</p>
            </div>

        </div>
    </div>
</div>
<br>
<br>

<!-- 底部 -->
<footer th:replace="admin/_fragments :: footer"></footer>
<!--/*/<th:block th:replace="admin/_fragments :: script"></th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.j-item').toggleClass('jet-mobile-hide');
    })

    $('.ui.dropdown').dropdown({
        on: 'hover'
    })

    // 訊息提示關閉初始化
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    })

    function page(obj) {
        $("[name='page']").val($(obj).data('page'));
        loadData();
    }

    $('#search-btn').click(function () {
        loadData();
    })

    function loadData() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title: $("[name='title']").val(),
            categoryId: $("[name='categoryId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        })
    }

</script>
</body>
</html>