<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>Admin category</title>
</head>
<body>

<!-- 導航列 -->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment jet-padded-tb-mini jet-shadow-small"></nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">發佈</a>
            <a href="#" class="active item teal">列表</a>
        </div>
    </div>
</div>

<!-- 內容 -->
<div class="jet-container-small jet-padded-tb-big">
    <div class="ui container">

        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>標題</th>
                <th>動作</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="category,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${category.name}">練習清單</td>
                <td>
                    <a th:href="@{/admin/category/{id}/input(id=${category.id})}" class="ui mini teal basic button">編輯</a>
                    <a th:href="@{/admin/category/{id}/delete(id=${category.id})}" class="ui mini red basic button">刪除</a>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui mini pagination menu"  th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/categoryList/(page=${page.number}-1)}" class="item"
                        th:unless="${page.first}">上一頁</a>
                        <a th:href="@{/admin/categoryList/(page=${page.number}+1)}" class="item"
                        th:unless="${page.last}">下一頁</a>
                        <!--                        <a class="icon item">-->
                        <!--                            <i class="left chevron icon"></i>-->
                        <!--                        </a>-->
                        <!--                        <a href="#" class="item">1</a>-->
                        <!--                        <a href="#" class="item">2</a>-->
                        <!--                        <a href="#" class="item">3</a>-->
                        <!--                        <a href="#" class="item">4</a>-->
                        <!--                        <a href="#" class="icon item">-->
                        <!--                            <i class="right chevron icon"></i>-->
                        <!--                        </a>-->
                    </div>
                    <a th:href="@{/admin/category/input}" class="ui teal right floated mini basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
<br>
<br>

<!-- 底部 -->
<footer th:replace="_fragments :: footer"></footer>
<!--/*/<th:block th:replace="_fragments :: script"></th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.j-item').toggleClass('jet-mobile-hide');
    })

    $('.ui.dropdown').dropdown({
        on: 'hover'
    })
</script>
</body>
</html>