<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>Category-Add</title>
</head>
<body>

<!-- 導航列 -->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment jet-padded-tb-mini jet-shadow-small"></nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/tag/input}" class="active item">新增</a>
            <a th:href="@{/admin/tags}" class="item teal">列表</a>
        </div>
    </div>
</div>

<!-- 內容 -->
<div class="jet-container-small jet-padded-tb-big">
    <div class="ui container">
        <!-- 標題 -->
        <form method="post" th:object="${tag}"
              th:action="*{id}==null ? @{/admin/tag} : @{/admin/category/{id}(id=*{id})} " class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名稱</label>
                    <input type="text" name="name" placeholder="分類名稱" th:value="*{name}">
                </div>
            </div>

            <div class="ui error message"></div>

            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">驗證失敗</div>
                <p th:errors="*{name}">送出的訊息不符合規則</p>
            </div>
             /*/-->

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.back()">返回</button>
                <button class="ui secondary submit button">送出</button>
            </div>
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br>

<!-- 底部 -->
<footer th:replace="_fragments :: footer"></footer>
<!--/*/<th:block th:replace="_fragments :: script"></th:block>/*/-->

<script>

    $('.menu.toggle').click(function () {
        $('.j-item').toggleClass('jet-mobile-hide');
    })

    $('.ui.dropdown').dropdown({
        on: 'hover'
    })

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '請輸入標籤名稱哦'
                }]
            }
        }
    })
</script>
</body>
</html>