body {
    background: url("../images/bg-memphis-colorful.png");
}

/* ==================== Padded ==================== */
.jet-padded-mini {
    padding: 0.2em !important;
}

.jet-padded-tiny {
    padding: 0.3em !important;
}

.jet-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.jet-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.jet-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.jet-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.jet-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.jet-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.jet-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.jet-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.jet-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/* ==================== Text ==================== */
.jet-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}

.jet-text-thin {
    font-weight: 300 !important;
}

.jet-text-spaced {
    letter-spacing: 1px !important;
}

.jet-text-lined {
    line-height: 1.8;
}

/* ==================== Opacity ==================== */
.jet-opacity-mini {
    opacity: 0.8 !important;
}

.jet-opacity-tiny {
    opacity: 0.6 !important;
}

/* ==================== Margin ==================== */
.jet-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.jet-margin-top-small {
    margin-top: 0.5em !important;
}

.jet-margin-top {
    margin-top: 1em !important;
}

.jet-margin-top-large {
    margin-top: 2em !important;
}

.jet-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

.jet-margin-bottom {
    margin-bottom: 1em !important;
}

.jet-margin-bottom-large {
    margin-bottom: 2em !important;
}

.jet-margin-bottom-big {
    margin-bottom: 3em !important;
}

.jet-margin-bottom-huge {
    margin-bottom: 4em !important;
}

.jet-margin-bottom-massive {
    margin-bottom: 5em !important;
}


/* ==================== Position ==================== */
.jet-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

/* ==================== Display ==================== */
.jet-inline-block {
    display: inline-block !important;
}

/* ==================== Container ==================== */
.jet-container {
    max-width: 72em !important;
    margin: auto !important;
}

.jet-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

/* ==================== Shadow ==================== */
.jet-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
}

/* ==================== Color ==================== */
.jet-black {
    color: #333 !important;
}

.jet-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .jet-mobile-hide {
        display: none !important;
    }

    .jet-mobile-show {
        display: block !important;
    }

    .jet-padded-lr-responsive {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .jet-mobile-lr-clear {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .jet-mobile-wide {
        width: 100% !important;
    }
}