<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>Blog</title>
</head>
<body>

<!-- 導航列 -->
<nav th:replace="_fragments :: menu(1)"></nav>

<!-- 內容 -->
<div id="waypoint" class="jet-container-small jet-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui mini horizontal link list">
                <div class="item">
                    <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt=""
                         class="ui avatar image">
                    <div class="content">
                        <a href="#" class="header" th:text="${blog.user.nickname}">Mark</a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i>
                    <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-08-14</span>
                </div>
                <div class="item">
                    <i class="eye icon"></i>
                    <span th:text="${blog.views}">1231</span>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <!-- Picture -->
            <img src="https://unsplash.it/800/450?image=1005"
                 th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image">
        </div>
        <div class="ui attached padded segment">
            <!-- Content -->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.flag}">原創</div>
            </div>

            <h2 class="ui center aligned header" th:text="${blog.title}">
                徐巧芯提發現金3大理由：我家以前開早餐店「振興券無助小店家」
            </h2>

            <div id="content"
                 class="typo typo-selection js-toc-content jet-padded-lr-responsive jet-padded-tb-large"
                 th:utext="${blog.content}">

                <!-- Donate -->
                <div th:if="${blog.appreciation}">
                    <div class="ui center aligned basic segment">
                        <button id="payButton" class="ui basic orange circular button">斗內</button>
                    </div>
                    <div class="ui payQr flowing popup transition hidden">
                        <div class="ui orange basic label">
                            <div class="ui images" style="font-size: inherit">
                                <div class="image">
                                    <img src="../static/images/QRcode.jpg"
                                         th:src="@{/images/QRcode.jpg}"
                                         alt="" class="ui rounded bordered image"
                                         style="width: 120px">
                                    <div>綠界</div>
                                </div>
                                <div class="image">
                                    <img src="../static/images/QRcode.jpg"
                                         th:src="@{/images/QRcode.jpg}"
                                         alt="" class="ui rounded bordered image"
                                         style="width: 120px">
                                    <div>LINE Pay</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="ui attached positive message" th:if="${blog.shareStatements}">
                <!-- Bolg msg -->
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ui class="list">
                            <li>作者：<span th:text="${blog.user.nickname}">MARK</span><a href="" th:href="@{/about}"
                                                                                       target="_blank">(聯繫作者)</a></li>
                            <li>發表時間：
                                <sapn th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2021-08-14</sapn>
                            </li>
                            <li>版權聲明：自由轉載-非商業用-保持屬名許可</li>
                        </ui>
                    </div>
                    <div class="five wide column">
                        <img src="../static/images/QRcode.jpg"
                             th:src="@{/images/QRcode.jpg}" alt="" class="ui rounded bordered image"
                             style="width: 120px;">
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment" th:if="${blog.commentBoard}">
                <!-- Message board -->
                <div id="comment-container" class="ui teal segment">
                    <div th:fragment="commentList">
                        <div class="ui threaded comments" style="max-width: 100%;">
                            <h3 class="ui dividing header">留言</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1003" th:src="@{${comment.avatar}}">
                                </a>
                                <div class="content">
                                    <a class="author">
                                        <span th:text="${comment.nickname}">Matt</span>
                                        <div class="ui mini basic teal left pointing label jet-padded-mini"
                                             th:if="${comment.adminComment}">
                                            管理員
                                        </div>
                                    </a>
                                    <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">
                                        How artistic!
                                    </div>
                                    <div class="actions">
                                        <a class="reply" data-comment_id="1"
                                           data-comment_nickname="Mark"
                                           th:attr="data-comment_id=${comment.id}, data-comment_nickname=${comment.nickname}"
                                           onclick="reply(this)">回覆</a>
                                    </div>
                                </div>
                                <!-- 回覆的層級留言 -->
                                <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                    <div class="comment" th:each="reply : ${comment.replyComments}">
                                        <a class="avatar">
                                            <img src="https://unsplash.it/100/100?image=1003"
                                                 th:src="@{${reply.avatar}}">
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span th:text="${reply.nickname}">Matt</span>
                                                <div class="ui mini basic teal left pointing label jet-padded-mini"
                                                     th:if="${reply.adminComment}">管理員
                                                </div>
                                                &nbsp;
                                                <sapn th:text="|@ ${reply.parentComment.nickname}|" class="jet-teal">@
                                                    Mark
                                                </sapn>
                                            </a>
                                            <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                            </div>
                                            <div class="text" th:text="${reply.content}">
                                                How artistic!
                                            </div>
                                            <div class="actions">
                                                <a class="reply" data-comment_id="1"
                                                   data-comment_nickname="Mark"
                                                   th:attr="data-comment_id=${reply.id}, data-comment_nickname=${reply.nickname}"
                                                   onclick="reply(this)">回覆</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/*-->
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1006">
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">Yesterday at 12:30AM</span>
                                    </div>
                                    <div class="text">
                                        <p>This has been very useful for my research. Thanks as well!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回覆</a>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://unsplash.it/100/100?image=1005">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                            <div class="actions">
                                                <a class="reply">回覆</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1003">
                                </a>
                                <div class="content">
                                    <a class="author">Joe Henderson</a>
                                    <div class="metadata">
                                        <span class="date">5 days ago</span>
                                    </div>
                                    <div class="text">
                                        Dude, this is awesome. Thanks so much
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回覆</a>
                                    </div>
                                </div>
                            </div>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <div id="comment-form" class="ui form">
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" value="-1">
                    <div class="field">
                        <textarea name="content" id="messageBoard" placeholder="有什麼要留言的嗎？"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field jet-mobile-wide jet-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" placeholder="姓名"
                                       th:value="${session.user} != null ? ${session.user.nickname}">
                            </div>
                        </div>
                        <div class="field jet-mobile-wide jet-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="信箱"
                                       th:value="${session.user} != null ? ${session.user.email}">
                            </div>
                        </div>
                        <div class="field jet-margin-bottom-small jet-mobile-wide">
                            <button id="commentPost-btn" class="ui jet-mobile-wide teal button"><i
                                    class="edit icon"></i>送出
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="toolbar" class="jet-padded jet-fixed jet-right-bottom" style="display: none">
        <div class="ui vertical icon buttons">
            <button type="button" class="ui toc teal button">目錄</button>
            <a href="#comment-container" class="ui teal button">留言</a>
            <button class="ui lc icon button"><i class="linechat icon"></i></button>
            <div id="toTop-button" class="ui icon button"><i class="chevron up icon"></i></div>
        </div>
    </div>

    <div class="ui toc-container flowing popup transition hidden" style="width: 250px !important;">
        <ol class="js-toc"></ol>
    </div>

    <div id="qrcode" class="ui lineQR flowing popup transition hidden" style="width: 130px; !important;">
        <!--    <img src="images/QRcode.jpg" alt="" class="ui rounded image" style="width: 120px; !important;">-->
    </div>

    <br>
    <br>
    <!-- 底部 -->
    <footer th:replace="_fragments :: footer"></footer>
    <!--/*/<th:block th:replace="_fragments :: script"></th:block>/*/-->
</div>
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.j-item').toggleClass('jet-mobile-hide');
    })

    $('#payButton').popup({
        popup: $('.payQr.popup'),
        on: 'click',
        position: 'bottom center'
    })

    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });

    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    })

    $('.lc').popup({
        popup: $('.lineQR'),
        on: 'hover',
        position: 'left center'
    });

    let serverUrl = /*[[#{server.url}]]*/"127.0.0.1:8080";
    let url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    let qrcode = new QRCode("qrcode", {
        text: serverUrl + url,
        width: 110,
        height: 110,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 500);
    })

    let waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction === 'down') {
                $('#toolbar').show(200);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!', direction)
        }
    })

    // 留言表單驗證
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '請輸入留言內容'
                }]
            }
            ,
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '請輸入名稱'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '請填寫正確的電子信箱格式'
                }]
            }
        }
    })

    $(function () {
        $('#comment-container').load(
            /*[[@{/comments/{id}(id=${blog.id})}]]*/""
        )
    })

    $('#commentPost-btn').click(function () {
        let bool = $('.ui.form').form('validate form');
        if (bool) {
            console.log('驗證 success')
            postData();
        } else {
            console.log('驗證失敗')
        }
    })

    function postData() {
        $('#comment-container').load(/*[[@{/comments}]]*/"", {
            'parentComment.id': $('[name="parentComment.id"]').val(),
            'blog.id': $('[name="blog.id"]').val(),
            'nickname': $('[name="nickname"]').val(),
            'email': $('[name="email"]').val(),
            'content': $('[name="content"]').val(),
        }, function (responseText, statusText, xhr) {
            // $(window).scrollTo($('#comment-container'), 500);
            clearContent();
        });
    }

    function clearContent() {
        let content = $('[name="content"]');
        content.val('');
        $('[name="parentComment.id"]').val(-1);
        content.attr('placeholder', '有什麼要留言的嗎？');
    }

    function reply(obj) {
        let commentId = $(obj).data('comment_id');
        let commentNickname = $(obj).data('comment_nickname');
        $('[name="content"]').attr('placeholder', '@' + commentNickname).focus();
        $('[name="parentComment.id"]').val(commentId);
        $(window).scrollTo($('#comment-form'), 500);
    }
</script>
</body>
</html>